<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PlanUs</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md" hx-ext="response-targets">
        <h2 class="text-5xl font-bold mb-6 text-center">Sign Up</h2>
        <form hx-post="/users" hx-target="#response1" hx-swap="outerHTML" hx-target-error="#error_response1" class="bg-white shadow-md rounded px-10 pt-8 pb-10 mb-6">
            <div class="mb-6">
                <label class="block text-gray-700 text-lg font-bold mb-2" for="username">
                    Email
                </label>
                <input class="shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" name="email" required>
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-lg font-bold mb-2" for="password">
                    Password
                </label>
                <input class="shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" name="password" required>
            </div>
            <div class="mb-8">
                <label class="block text-gray-700 text-lg font-bold mb-2" for="birthday">
                    Birthday
                </label>
                <input class="shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="birthday" type="date" name="birthday" required>
            </div>
            <div id="error_response1" class="text-center text-red-500 mb-4"></div>
            <div id="response1"></div>
            <div class="flex items-center justify-between">
                <button class="bg-purple-400 hover:bg-purple-600 text-white font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline text-lg" type="submit">
                    Sign Up
                </button>
                <a class="inline-block align-baseline font-bold text-lg text-blue-500 hover:text-blue-800" href="/loginpage">
                    Back to Login
                </a>
            </div>
        </form>
        
        
    </div>
</body>
</html>
